*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contact{
  background-color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
}

.letsbuild{
  font-size: 4rem;
  line-height: 69px;
  font-weight: 700;
  margin-bottom: 1.25rem
}
.con{
  /* font-size: 4rem; */
  /* line-height: 69px; */
  /* font-weight: 700; */
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.25;
  font-size: 1.125rem;
}

.simply{
  font-size: 1.5rem;
  color: #038e43;
  font-weight: 700;
  margin-bottom: 1rem;
}
img {
  max-width: 100%;
    height: auto;
    vertical-align: top;
    border-style: none;
}
.looking{
  margin-top: 5px;
  font-size: 1.5rem;
  color: #038e43;
  font-weight: 700;
  /* margin-bottom: 1rem; */

  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.lookContain{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
a{
  color: #313887;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
    margin-right: 8px;
    outline: none;
    text-decoration: none;
}

.contact-form input{
  padding: 1.5rem 18px;
  width: 100%;
}

button, input {
  overflow: visible;
}
button{
  font-weight: 800;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    border: none;
    transition: all .3s ease;
    color: #fff;
    background-color: #038e43;
    padding: 18px 24px;
    position: relative;
    right: 100px;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
.form-control{
border: 0.5px solid black;
}
.form-control:hover {
  border: 1px solid #038e43; /* Green border color */
}
label{
  font-size: 1.125rem;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  display: inline-block;
  color: #333;
  cursor: default;
  --gutter-x: 2rem;
    --gutter-y: 0;
    
}

.form-group{
  margin-bottom: 25px;
}

 textarea {
  padding: 1.5rem 18px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  height: 250px;
}

select {
  width: 200px;
  height: 70px;
  line-height: 50px;
  
  }
  form{
    padding-bottom: 60px;

  }
  .foot{
    margin-bottom: 3rem;
    max-width: 1037px;
    margin-bottom: 58px;
    font-size: 1.5rem;

    display: block;
    font-size: 2.9em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .footer{
    background-color: #F7F8FB;
  }


  /* Custom CSS for card styling */
.card {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1.1rem;
}


.card-img-top {
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 20px;
}


.nav{
 display: flex;
 justify-content: flex-end;
 padding: 5px;
 margin: 10px;
 font-weight:700;
 position: sticky;
}
.f{
  position: sticky;
  top: 0; /* You can adjust this value to control the stickiness point */
  background-color: #FFFFFF; /* Set the background color as needed */
  padding: 10px;
  z-index: 100; 
}

